name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
workflow_dispatch:  # This allows manual triggering
jobs:
    unit-test:
        container: cuaesd/aesd-autotest:24-unit-test
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run : git submodule update --init --recursive
          - name: Run unit test
            run: ./unit-test.sh
    full-test:
        container: cuaesd/aesd-autotest:24-assignment2
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run : git submodule update --init --recursive
          - name: Set directory permissions
            run: chmod -R 755 .
          - name: Run full test
            run: ./full-test.sh

